[Unit]
Description=Node-RED graphical event wiring tool.
Wants=network.target

[Service]
Type=simple
User=nodered
Group=nodered
WorkingDirectory=/home/nodered/.node-red
Nice=5
Environment="NODE_OPTIONS=--max_old_space_size=128"
ExecStart=/usr/bin/env node-red-pi $NODE_OPTIONS $NODE_RED_OPTIONS
KillSignal=SIGINT
Restart=on-failure
SyslogIdentifier=Node-RED

[Install]
WantedBy=multi-user.target

